*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Segoe UI',sans-serif;
    scroll-behavior:smooth;
}

body{
    background:#f4f7fc;
    color:#333;
    line-height:1.6;
}

header{
    background:#111827;
    color:white;
    padding:20px 8%;
    display:flex;
    justify-content:space-between;
    align-items:center;
    position:sticky;
    top:0;
    flex-direction:column;
    text-align:center;
}

header h1{
    font-size:28px;
}

nav a{
    color:white;
    text-decoration:none;
    margin-left:20px;
    font-weight:600;
    transition:.3s;
    display:inline-block;
    margin:8px;
    margin-top:15px;
    color:#38bdf8;
}
#home{
    min-height:90vh;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    text-align:center;
    color:white;
    background:linear-gradient(
        135deg,
        #2563eb,
        #7c3aed,
        #06b6d4
    );
}
#home h2{
    font-size:55px;
    margin-bottom:15px;
}

#home p{
    font-size:22px;
    max-width:700px;
   
}

#home button{
    margin-top:25px;
    padding:14px 30px;
    border:none;
    border-radius:30px;
    background:white;
    color:#2563eb;
    font-weight:bold;
    cursor:pointer;
    transition:.4s;
}

#home button:hover{
    transform:translateY(-5px);
}
section{
    padding:70px 10%;
}

section h2{
    text-align:center;
    margin-bottom:30px;
    font-size:35px;
    color:#111827;
}
#about{
    text-align:center;
}

#about p{
    max-width:800px;
    margin:auto;
    font-size:18px;
}
section div{
    background:white;
    margin:15px;
    padding:25px;
    border-radius:15px;
    box-shadow:0 5px 20px rgba(0, 0, 0, 0.1);
}
article{
    background:white;
    margin:20px 0;
    padding:25px;
    border-radius:15px;
    box-shadow:0 5px 20px rgba(0,0,0,.1);
    transition:.4s;

}

article h3{
    color:#2563eb;
}

article button{
    margin-top:10px;
    padding:10px 20px;
    background:#2563eb;
    color:white;
    border:none;
    border-radius:8px;
    cursor:pointer;
}
form{
    background:white;
    max-width:700px;
    margin:auto;
    padding:30px;
    border-radius:15px;
    box-shadow:0 5px 20px rgba(0,0,0,.1);
}

input,
textarea{
    width:100%;
    padding:14px;
    margin:10px 0;
    border:1px solid #ddd;
    border-radius:8px;
    outline:none;
    border-color:#2563eb;
}

form button{
    background:#2563eb;
    color:white;
    border:none;
    padding:14px 25px;
    border-radius:8px;
    cursor:pointer;
}

table{
    width:100%;
    border-collapse:collapse;
    background:white;
    box-shadow:0 5px 20px rgba(0,0,0,.1);
}

th{
    background:#2563eb;
    color:white;
}

th,
td{
    padding:15px;
    text-align:center;
    border:1px solid #ddd;
}

tr:hover{
    background:#f1f5f9;
}

ol{
    background:white;
    padding:30px;
    border-radius:15px;
    box-shadow:0 5px 20px rgba(0,0,0,.1);
}

ol li{
    margin:10px 0;
    font-size:18px;
}
footer{
    background:#111827;
    color:white;
    text-align:center;
    padding:25px;
    margin-top:30px;
}


   
    